<nav>
  <div><a class="logo" href="{{ url_for('home') }}">Home</a></div>
  <div class="nav-links">
    {% if session.get('user_logged_in') %}
    <a href="{{ url_for('logout') }}"
      ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
    >
    {% else %}
    <a href="{{ url_for('final_prediction') }}"><i class="fa-solid fa-circle-info"></i> Start Risk Prediction</a>
    <a href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i> Login</a>
    <a href="{{ url_for('remote_user_register') }}"><i class="fa-solid fa-user-plus"></i> Signup</a>
    {% endif %}
  </div>
</nav>
